In [36]:
import sqlite3

import pandas as pd

In [37]:
# Read customers table from chinook.db
def read_sqlite_db(db_path):
    conn = sqlite3.connect(db_path)
    df = pd.read_sql("SELECT * FROM customers", conn)
    conn.close()
    print("First 10 rows of customers table:")
    display(df.head(10))

In [38]:
read_sqlite_db("chinook.db")

First 10 rows of customers table:

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4

In [39]:
# Read JSON file
def read_json(json_path):
    df = pd.read_json(json_path)
    print("Shape of iris dataset:", df.shape)
    print("Column names:", df.columns.tolist())
    display(df.head())

In [40]:
read_json("iris.json")

Shape of iris dataset: (150, 5)
Column names: ['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [41]:
# Read Excel file
def read_excel(excel_path):
    df = pd.read_excel(excel_path)
    print("First 5 rows of Titanic dataset:")
    display(df.head())

In [42]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [43]:
read_excel("titanic.xlsx")

First 5 rows of Titanic dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [44]:
# Read Parquet file
def read_parquet(parquet_path):
    df = pd.read_parquet(parquet_path)
    print("Flights dataset info:")
    display(df.head())
    df.info()

In [45]:
%pip install fastparquet

Requirement already satisfied: fastparquet in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2024.11.0)
Requirement already satisfied: pandas>=1.5.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from fastparquet) (1.26.4)
Requirement already satisfied: cramjam>=2.3 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from fastparquet) (2.9.1)
Requirement already satisfied: fsspec in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from fastparquet) (2025.3.2)
Requirement already satisfied: packaging in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from fastparquet) (24.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
def read_csv(csv_path):
    df = pd.read_csv(csv_path)
    print("Random 10 rows from movie dataset:")
    display(df.sample(10))

In [47]:
read_csv("movie.csv")

Random 10 rows from movie dataset:

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2468,Color,Daniel Barnz,148.0,86.0,33.0,583.0,Mary-Kate Olsen,15000.0,27854896.0,Drama|Fantasy|Romance,...,129.0,English,USA,PG-13,17000000.0,2011.0,976.0,5.6,2.35,16000
1436,Color,Catherine Hardwicke,122.0,101.0,308.0,206.0,Hiam Abbass,446.0,37617947.0,Drama|Family|Fantasy,...,203.0,English,USA,PG,30000000.0,2006.0,224.0,6.8,2.35,0
4434,Color,Joe Dante,161.0,91.0,287.0,725.0,Robert Picardo,1000.0,17986000.0,Horror,...,195.0,English,USA,R,1000000.0,1981.0,823.0,6.6,1.85,0
4690,Color,Paul Fox,80.0,80.0,3.0,39.0,Jeff Seymour,108.0,NaN,Horror|Thriller,...,52.0,English,Canada,R,500000.0,2005.0,64.0,6.1,1.85,166
4136,Color,James Algar,99.0,120.0,11.0,NaN,Deems Taylor,16.0,76400000.0,Animation|Family|Fantasy|Music,...,230.0,English,USA,G,2280000.0,1940.0,0.0,7.8,1.37,3000
4898,Color,John Waters,73.0,108.0,0.0,105.0,Mink Stole,462.0,180483.0,Comedy|Crime|Horror,...,183.0,English,USA,NC-17,10000.0,1972.0,143.0,6.1,1.37,0
52,Color,Guillermo del Toro,575.0,131.0,0.0,919.0,Clifton Collins Jr.,16000.0,101785482.0,Action|Adventure|Sci-Fi,...,1106.0,English,USA,PG-13,190000000.0,2013.0,968.0,7.0,1.85,83000
1613,Color,Ted Demme,147.0,124.0,47.0,877.0,Ethan Suplee,40000.0,52937130.0,Biography|Crime|Drama,...,426.0,English,USA,R,30000000.0,2001.0,1000.0,7.6,2.35,13000
65,Color,Bryan Singer,396.0,144.0,0.0,1000.0,Michael Fassbender,34000.0,154985087.0,Action|Adventure|Sci-Fi,...,622.0,English,USA,PG-13,178000000.0,2016.0,13000.0,7.3,2.35,54000
590,Color,Betty Thomas,107.0,88.0,84.0,1000.0,Bridgit Mendler,1000.0,219613391.0,Animation|Comedy|Family|Fantasy|Music,...,98.0,English,USA,PG,75000000.0,2009.0,1000.0,4.5,1.85,2000

In [48]:
def explore_iris(json_path):
    df = pd.read_json(json_path)
    df.columns = df.columns.str.lower()
    iris_selected = df[['sepallength', 'sepalwidth']]
    print("Filtered iris dataset:")
    display(iris_selected)

In [49]:
explore_iris("iris.json")

Filtered iris dataset:

     sepallength  sepalwidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]

In [50]:
def explore_titanic(excel_path):
    df = pd.read_excel(excel_path)
    titanic_filtered = df[df['Age'] > 30]
    print("Passengers older than 30:")
    display(titanic_filtered)
    print("Passenger gender distribution:")
    display(df['Sex'].value_counts())

In [51]:
explore_titanic("titanic.xlsx")

Passengers older than 30:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Passenger gender distribution:

Sex
male      577
female    314
Name: count, dtype: int64

In [52]:
def explore_flights(parquet_path):
    df = pd.read_parquet(parquet_path)
    flights_selected = df[['origin', 'dest', 'carrier']]
    print("Selected flight details:")
    display(flights_selected)
    unique_destinations = df['dest'].nunique()
    print(f"Number of unique destinations: {unique_destinations}")

In [53]:
def explore_movies(csv_path):
    df = pd.read_csv(csv_path)
    long_movies = df[df['duration'] > 120]
    sorted_movies = long_movies.sort_values(by='director_facebook_likes', ascending=False)
    print("Movies longer than 120 minutes, sorted by director_facebook_likes:")
    display(sorted_movies)

In [54]:
explore_movies("movie.csv")

Movies longer than 120 minutes, sorted by director_facebook_likes:

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
96,Color,Christopher Nolan,712.0,169.0,22000.0,6000.0,Anne Hathaway,11000.0,187991439.0,Adventure|Drama|Sci-Fi,...,2725.0,English,USA,PG-13,165000000.0,2014.0,11000.0,8.6,2.35,349000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,185000000.0,2008.0,13000.0,9.0,2.35,37000
1222,Color,Christopher Nolan,341.0,130.0,22000.0,19000.0,Hugh Jackman,23000.0,53082743.0,Drama|Mystery|Sci-Fi|Thriller,...,1100.0,English,USA,PG-13,40000000.0,2006.0,20000.0,8.5,2.35,49000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,Color,NaN,9.0,142.0,NaN,427.0,Jack O'Connell,27000.0,NaN,Drama|Romance,...,33.0,English,UK,NaN,NaN,NaN,698.0,7.7,NaN,0
3582,Color,NaN,10.0,240.0,NaN,334.0,Blake Ritson,805.0,NaN,Comedy|Drama|Romance,...,50.0,English,UK,NaN,NaN,NaN,432.0,8.2,1.78,0
3799,Color,NaN,2.0,199.0,NaN,505.0,Jonathan Crombie,662.0,NaN,Drama|Family,...,74.0,English,Canada,TV-G,NaN,NaN,517.0,8.4,1.33,0
4005,Color,NaN,NaN,197.0,NaN,110.0,Jessica De Gouw,578.0,NaN,Drama|War,...,1.0,English,Australia,NaN,15000000.0,NaN,476.0,7.4,NaN,367
4031,Color,NaN,10.0,173.0,NaN,476.0,Colm Feore,723.0,NaN,Horror|Sci-Fi|Thriller,...,33.0,English,USA,NaN,NaN,NaN,539.0,5.0,1.78,518

In [55]:
def analyze_iris(json_path):
    df = pd.read_json(json_path)
    print("Iris Dataset Statistics:")
    display(df.describe())
    print("Median Values:")
    display(df.median())
    print("Standard Deviation:")
    display(df.std())

In [56]:
analyze_iris("iris.json")

Iris Dataset Statistics:

       sepalLength  sepalWidth  petalLength  petalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.057333     3.758000    1.199333
std       0.828066    0.435866     1.765298    0.762238
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

Median Values:

TypeError: Cannot convert [['setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
  'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
  'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
  'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
  'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
  'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
  'setosa' 'setosa' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
  'versicolor' 'virginica' 'virginica' 'virginica' 'virginica'
  'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
  'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
  'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
  'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
  'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
  'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
  'virginica' 'virginica' 'virginica' 'virginica' 'virginica' 'virginica'
  'virginica' 'virginica' 'virginica' 'virginica']] to numeric

In [57]:
def analyze_titanic(excel_path):
    df = pd.read_excel(excel_path)
    print(f"Minimum Age: {df['Age'].min()}")
    print(f"Maximum Age: {df['Age'].max()}")
    print(f"Total Sum of Ages: {df['Age'].sum()}")

In [58]:
analyze_titanic("titanic.xlsx")

Minimum Age: 0.42
Maximum Age: 80.0
Total Sum of Ages: 21205.17

In [59]:
def analyze_movies(csv_path):
    df = pd.read_csv(csv_path)
    top_director = df.groupby('director_name')['director_facebook_likes'].sum().idxmax()
    print(f"Director with highest total Facebook likes: {top_director}")
    longest_movies = df.nlargest(5, 'duration')[['duration', 'director_name']]
    print("Top 5 longest movies and their directors:")
    display(longest_movies)

In [60]:
analyze_movies("movie.csv")

Director with highest total Facebook likes: Steven Spielberg
Top 5 longest movies and their directors:

      duration        director_name
1694     511.0                  NaN
2436     334.0                  NaN
1487     330.0      Taylor Hackford
1134     325.0       Michael Cimino
3254     300.0  Chatrichalerm Yukol

In [61]:
def analyze_flights(parquet_path):
    df = pd.read_parquet(parquet_path)
    print("Missing values per column:")
    display(df.isnull().sum())
    for col in df.select_dtypes(include=['number']).columns:
        df[col].fillna(df[col].mean(), inplace=True)
    print("Missing values after filling numerical columns:")
    display(df.isnull().sum())