In [2]:
import sqlite3
import pandas as pd

In [3]:
# 1️⃣ Inner Join on Chinook Database
conn = sqlite3.connect("chinook.db")

customers_df = pd.read_sql_query("SELECT * FROM customers", conn)
invoices_df = pd.read_sql_query("SELECT * FROM invoices", conn)

In [4]:
# Inner Join on CustomerId
merged_df = pd.merge(customers_df, invoices_df, on="CustomerId", how="inner")

In [5]:
# Count invoices per customer
invoice_counts = merged_df.groupby(["CustomerId", "FirstName", "LastName"]).size().reset_index(name="TotalInvoices")

In [6]:
print("\nTotal invoices per customer:")
display(invoice_counts)

Total invoices per customer:

    CustomerId  FirstName      LastName  TotalInvoices
0            1       Luís     Gonçalves              7
1            2     Leonie        Köhler              7
2            3   François      Tremblay              7
3            4      Bjørn        Hansen              7
4            5  František   Wichterlová              7
5            6     Helena          Holý              7
6            7     Astrid        Gruber              7
7            8       Daan       Peeters              7
8            9       Kara       Nielsen              7
9           10    Eduardo       Martins              7
10          11  Alexandre         Rocha              7
11          12    Roberto       Almeida              7
12          13   Fernanda         Ramos              7
13          14       Mark       Philips              7
14          15   Jennifer      Peterson              7
15          16      Frank        Harris              7
16          17       Jack         Smith              7
17          18   Michelle        Brooks              7
18          19        Tim         Goyer              7
19          20        Dan        Miller              7
20          21      Kathy         Chase              7
21          22    Heather       Leacock              7
22          23       John        Gordon              7
23          24      Frank       Ralston              7
24          25     Victor       Stevens              7
25          26    Richard    Cunningham              7
26          27    Patrick          Gray              7
27          28      Julia       Barnett              7
28          29     Robert         Brown              7
29          30     Edward       Francis              7
30          31     Martha          Silk              7
31          32      Aaron      Mitchell              7
32          33      Ellie      Sullivan              7
33          34       João     Fernandes              7
34          35   Madalena       Sampaio              7
35          36     Hannah     Schneider              7
36          37       Fynn    Zimmermann              7
37          38     Niklas      Schröder              7
38          39    Camille       Bernard              7
39          40  Dominique      Lefebvre              7
40          41       Marc        Dubois              7
41          42      Wyatt        Girard              7
42          43   Isabelle       Mercier              7
43          44      Terhi    Hämäläinen              7
44          45   Ladislav        Kovács              7
45          46       Hugh      O'Reilly              7
46          47      Lucas       Mancini              7
47          48   Johannes  Van der Berg              7
48          49  Stanisław        Wójcik              7
49          50    Enrique         Muñoz              7
50          51     Joakim     Johansson              7
51          52       Emma         Jones              7
52          53       Phil        Hughes              7
53          54      Steve        Murray              7
54          55       Mark        Taylor              7
55          56      Diego     Gutiérrez              7
56          57       Luis         Rojas              7
57          58      Manoj        Pareek              7
58          59       Puja    Srivastava              6

In [7]:
conn.close()

In [8]:
# 2️⃣ Outer Join on Movie Data
movie_df = pd.read_csv("movie.csv")

In [9]:
# Create two smaller DataFrames
df1 = movie_df[["director_name", "color"]].dropna().drop_duplicates()
df2 = movie_df[["director_name", "num_critic_for_reviews"]].dropna().drop_duplicates()

In [10]:
# Left Join
left_join_df = pd.merge(df1, df2, on="director_name", how="left")

In [11]:
# Full Outer Join
outer_join_df = pd.merge(df1, df2, on="director_name", how="outer")

In [12]:
# Display results
print("\nRows in Left Join:", len(left_join_df))
print("Rows in Full Outer Join:", len(outer_join_df))

Rows in Left Join: 5363
Rows in Full Outer Join: 5371

In [13]:
import pandas as pd

# Load Titanic dataset
titanic_df = pd.read_excel("titanic.xlsx", engine="openpyxl")

# Group by Pclass and calculate metrics
titanic_grouped = titanic_df.groupby("Pclass").agg(
    Avg_Age=("Age", "mean"),
    Total_Fare=("Fare", "sum"),
    Passenger_Count=("PassengerId", "count")
)

# Display results
display(titanic_grouped)

          Avg_Age  Total_Fare  Passenger_Count
Pclass
1       38.233441  18177.4125              216
2       29.877630   3801.8417              184
3       25.140620   6714.6951              491

In [14]:
# Load Movie dataset
movie_df = pd.read_csv("movie.csv")

# Group by color and director_name
movie_grouped = movie_df.groupby(["color", "director_name"]).agg(
    Total_Critic_Reviews=("num_critic_for_reviews", "sum"),
    Avg_Duration=("duration", "mean")
)

# Display results
display(movie_grouped)

                                    Total_Critic_Reviews  Avg_Duration
color           director_name
Black and White Akira Kurosawa                     153.0         202.0
                Aleksey German                     121.0         177.0
                Alex Garland                       489.0         108.0
                Alexander Payne                    433.0         115.0
                Alfred Hitchcock                   434.0         119.0
...                                                  ...           ...
Color           Zoran Lisinac                       17.0         108.0
                Álex de la Iglesia                  71.0         104.0
                Émile Gaudreault                    67.0          92.0
                Éric Tessier                         9.0          99.0
                Étienne Faure                        9.0          98.0

[2490 rows x 2 columns]

In [15]:
import pandas as pd

# Load Titanic dataset
titanic_df = pd.read_excel("titanic.xlsx", engine="openpyxl")

# Define function to classify passengers
def classify_age_group(age):
    if age < 18:
        return 'Child'
    else:
        return 'Adult'

# Apply function to create a new column 'Age_Group'
titanic_df['Age_Group'] = titanic_df['Age'].apply(classify_age_group)

# Display the updated DataFrame
display(titanic_df[['Age', 'Age_Group']].head())

    Age Age_Group
0  22.0     Adult
1  38.0     Adult
2  26.0     Adult
3  35.0     Adult
4  35.0     Adult

In [16]:
# Load Employee dataset
employee_df = pd.read_csv("employee.csv")

# Normalize the salaries within each department
employee_df['Normalized_Salary'] = employee_df.groupby('Department')['Salary'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

# Display the updated DataFrame with normalized salaries
display(employee_df[['EmployeeName', 'Department', 'Salary', 'Normalized_Salary']].head())

KeyError: 'Department'

In [17]:
# Load Movie dataset
movie_df = pd.read_csv("movie.csv")

# Define function to classify movie duration
def classify_duration(duration):
    if duration < 60:
        return 'Short'
    elif 60 <= duration <= 120:
        return 'Medium'
    else:
        return 'Long'

# Apply the function to classify movies based on duration
movie_df['Duration_Category'] = movie_df['duration'].apply(classify_duration)

# Display the updated DataFrame with movie categories
display(movie_df[['title', 'duration', 'Duration_Category']].head())

KeyError: "['title'] not in index"